<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>상세페이지</title>
    <link href="/styles.css" rel="stylesheet">
</head>
<body>

<div th:replace="~{ nav.html::navbar }"></div>

<div class="container py-5">
    <h2 class="mb-4 text-center">상세페이지</h2>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <img src="https://placehold.co/600x400" class="card-img-top" alt="상품 이미지">
                <div class="card-body">
                    <h4 class="card-title" th:text="${data.title}">상품 제목</h4>
                    <p class="card-text h5 text-primary" th:text="${data.price + '원'}">가격</p>
                </div>
                <form action="/order" method="post">
                    <input name="title" th:value="${data.title}">
                    <input name="price" th:value="${data.price}">
                    <input name="count" placeholder="count">
                    <button>주문하기</button>
                </form>
            </div>
        </div>
    </div>


    <div class="mt-5">
        <h5>상품평</h5>
        <div th:each="comment : ${comments}" class="border-bottom pb-2 mb-3">
            <p class="fw-bold mb-1" th:text="${comment.displayName}">작성자</p>
            <p th:text="${comment.content}">내용</p>
        </div>
    </div>

    <form class="mt-4" action="/comment" method="POST">
        <div class="mb-3">
            <label for="commentInput" class="form-label">댓글</label>
            <input id="commentInput" name="content" class="form-control" required>
        </div>
        <input name="parent" th:value="${data.id}" type="hidden">
        <button type="submit" class="btn btn-dark">댓글 작성</button>
    </form>
</div>

</body>
</html>
