<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>주문목록</title>
    <link href="/styles.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{ nav.html::navbar }"></div>

<div class="container">
    <h4>주문목록</h4>

    <table class="table">
        <thead>
        <tr>
            <th>번호</th>
            <th>상품명</th>
            <th>수량</th>
            <th>총 가격</th>
            <th>주문일시</th>
            <th>주문자</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="i : ${items}">
            <td th:text="${i.id}"></td>
            <td th:text="${i.itemName}"></td>
            <td th:text="${i.count}"></td>
            <td th:text="${i.price}"></td>
            <td th:text="${#temporals.format(i.ordertime, 'yyyy.MM.dd HH:mm:ss')}"></td>
            <td th:text="${i.member.username}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>